<div
  class="flex w-full h-2/3 max-h-96 relative max-w-lg mx-auto border-2 rounded-xl overflow-hidden"
>
  <!-- Carousel Slides -->
  <div
    id="carousel-slides"
    class="flex w-full transition-transform duration-500 ease-out"
  >
    {% block results %}
      <div id="results" hx-swap-oob="true" class="w-full h-full">
        {% if results %}
          {% for result in results %}
            <div class="slide w-full h-full p-4 bg-white rounded-lg shadow-md hidden">
              <h1 class="text-lg font-bold h-16 content-center">Results</h1>
              <div class="text-left px-5">
                <p class="text-sm font-semibold">Id: {{ forloop.counter }}</p>
                <p class="text-sm font-semibold">Label: {{ result.label }}</p>
                <p class="text-sm font-semibold">Confidence: {{ result.confidence }}</p>
                <p class="text-sm font-semibold">Model: {{ result.model }}</p>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="slide w-full h-full p-4 bg-white rounded-lg shadow-md hidden">
            <h1 class="text-lg font-bold h-16 content-center">Results</h1>
            <div class="text-left px-5">No Results</div>
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </div>

  <!-- Carousel Controls -->
  <button
    onclick="showPrevSlide()"
    class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full hover:bg-gray-700"
  >
    <
  </button>
  <button
    onclick="showNextSlide()"
    class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full hover:bg-gray-700"
  >
    >
  </button>
</div>

<script>
  let currentSlideIndex = 0;
  let slides = document.querySelectorAll(".slide");

  function showSlide(index) {
    // Hide all slides
    console.log(slides);
    slides.forEach((slide) => slide.classList.add("hidden"));

    // Show the selected slide
    slides[index].classList.remove("hidden");
  }

  function showNextSlide() {
    currentSlideIndex = (currentSlideIndex + 1) % slides.length; // Wrap around to the first slide
    showSlide(currentSlideIndex);
  }

  function showPrevSlide() {
    currentSlideIndex = (currentSlideIndex - 1 + slides.length) % slides.length; // Wrap around to the last slide
    showSlide(currentSlideIndex);
  }

  // Show the first slide initially
  showSlide(currentSlideIndex);

  document.body.addEventListener('htmx:afterSwap', function(evt) {
    slides = document.querySelectorAll(".slide");
    showSlide(currentSlideIndex);
  });
</script>
